<div class="customer-view-data-container">
  <section class="customer-details container p-0">
    <section class="header-section">
      <h5 class="make-space">Customer Details</h5>
    </section>

    <div class="info">
      <div class="label">
        Accommodation ID
      </div>
      <div class="detail">
        C00{{ customer.id }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Name
      </div>
      <div class="detail">
        {{ customer.name }}
      </div>
    </div>


    <div class="info">
      <div class="label">
        Country
      </div>
      <div class="detail">
        {{ customer.country }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Nationality
      </div>
      <div class="detail">
        {{ customer.nationality }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Passport No
      </div>
      <div class="detail">
        {{ customer.passportNo }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Email
      </div>
      <div class="detail">
        {{ customer.email }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Phone
      </div>
      <div class="detail">
        {{ customer.phone | formatPhoneNumber: 'US' }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Customer Description
      </div>
      <div class="detail">
        {{ customer.description }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Additional Notes
      </div>
      <div class="detail">
        {{ customer.additionalNotes }}
      </div>
    </div>

  </section>

  <section class="additional-details container p-0">
    <section class="header-section">
      <h5 class="make-space">Additional Details</h5>
    </section>

    <div class="info">
      <div class="label">
        Added Date
      </div>
      <div class="detail">
        {{ customer.addedDate | date: 'medium' }}
      </div>
    </div>

    <div class="info">
      <div class="label">
        Added By
      </div>
      <div class="detail">
        {{ customer.addedBy.name }}
      </div>
    </div>
  </section>
</div>

