.customer-view-data-container{
  //padding-top: 2rem;
  //padding: 2rem 0;
  font-family: "Roboto Light", sans-serif;
  font-size: clamp(1.6rem,1vw,2.4rem);
}

.row{
  //background-color: lightgreen;
  margin-bottom: 1.2rem;
  //border-bottom: 1px solid lightgray;
}

.divider{
  margin: 2rem 0;
}

.make-space{
  padding: 2rem 0;
  //margin: 2rem 0;
}

//.customer-details>* {
//  padding: 1rem 0;
//}
//
//.additional-details>* {
//  padding: 1rem 0;
//}

.customer-details, .additional-details{
  margin-bottom: 2rem;
}

.additional-details>mat{
  width: 100%;
}


h5{
  font-family: "Roboto Light", sans-serif;
  font-size: clamp(1.6rem,1.5vw,2.4rem);
  font-weight: bold;
}


.label{
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.6rem,1vw,2.4rem);
}

.label::after{
  content: ':';
}

.detail{
  font-family: "Roboto Light", sans-serif;
  font-weight: lighter;
  font-size: clamp(1.6rem,1vw,2.4rem);
}

.info{
  padding-bottom: 3rem;
}
