<div class="change-login-credentials-container">
  <form #changeLoginCredentialsForm (ngSubmit)="onSubmit()">

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Current Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter current password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Please enter your current password here</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter New password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Please enter your new password here</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Confirm New Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Please re-enter your new password here</mat-hint>
      </mat-form-field>
    </p>
  </form>
</div>
