.employee-container{
  position: relative;
}

.margin-bottom{
  margin-bottom: 2rem;
}

.btn-close{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #dc3545;
  color: white;
  padding: 0;

}

.btn-change{
  color: white;
  background-color: #4267B2;
}
