<div class="customer_header_container">
  <div class="customer_header row">
    <div class="customer_header_left col-12 col-sm-4">
      <h5>Manage Customer</h5>
    </div>
    <div class="customer_search col-12 col-sm-4">
      <mat-form-field floatLabel="never" appearance="outline">
        <input (keyup)="applyFilter($event.target);" matInput placeholder="Search a Customer">
      </mat-form-field>
    </div>
    <div class="customer_header_right col-12 col-sm-4">
      <button (click)="redirectToAddCustomer()"
              class="btn btn-add"
              type="button">
        <i class="bi bi-plus-square"></i>
        Add
      </button>
    </div>
  </div>

</div>

<!--<mat-divider class="divider"></mat-divider>-->

<app-customer-table></app-customer-table>
