// =====================================================================
// Reusable styles - start
// =====================================================================

@mixin font-family-roboto-light {
  font-family: 'Roboto Light', sans-serif;
}

@mixin add-button-styles{
  color: white;
  background-color: #0c9463;
  font-size : clamp(1.6rem,1vw,2rem);
  padding: 1rem;
  border-radius: 10px;
}

// =====================================================================
// Reusable styles - end
// =====================================================================

.customer_header_container{
  @include font-family-roboto-light;
  padding-bottom: 3rem;
}

h5{
  font-size: clamp(1.6rem,1.2vw,2.4rem);
  font-weight: bold;
}

// =====================================================================
// Responsive styles - start
// =====================================================================

@media screen and (min-width: 576px) {
  .customer_header_right{
    justify-content: flex-end;
  }

}


@media screen and (max-width: 576px) {
   .customer_header_left , .customer_search, .customer_header_right{
    //background-color: red;
    margin-bottom: 1rem;
  }

}

// =====================================================================
// Responsive styles - end
// =====================================================================

.customer_header{
  align-items: center;
}

.customer_header_left{
  //display: flex;
}

.customer_search{
}

.customer_header_right{
  display: flex;
}

mat-form-field{
  width: 100%;
  font-size : clamp(1.6rem,1vw,2rem);
}

.divider{
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}


.btn-add{
  @include add-button-styles;
}

.btn-search{
  margin: 0 0.5rem;
}

.customer_search_form{
  height: 100%;
}

