<div class="customer_header">
  <section class="customer_header_top">
    <h5>Manage Customer</h5>
    <div class="customer_search">
      <mat-form-field floatLabel="never">
        <input (keyup)="applyFilter($event.target);" matInput placeholder="Search a Customer">
      </mat-form-field>
      <button class="btn btn-search" type="button">
        <i class="bi bi-search"></i>
        Search
      </button>
    </div>
    <button (click)="redirectToAddCustomer()"
            class="btn btn-add"
            type="button">
      <i class="bi bi-plus-square"></i>
      Add
    </button>
  </section>

  <mat-divider class="divider"></mat-divider>
  <section class="customer_header_content">

  </section>

</div>

<!--<mat-divider class="divider"></mat-divider>-->

<app-customer-table></app-customer-table>
