.customer-view-data-container{
  margin-top: 2rem;
}

.row{
  //background-color: lightgreen;
  margin-bottom: 1.2rem;
  //border-bottom: 1px solid lightgray;
}

.divider{
  margin-bottom: 1rem;
}

.customer-details, .additional-details{
  margin-bottom: 2rem;
}
