.customer-view-data-container{
  padding: 2rem 0;
}

.row{
  //background-color: lightgreen;
  margin-bottom: 1.2rem;
  //border-bottom: 1px solid lightgray;
}

.divider{
  margin-bottom: 1rem;
}

.customer-details, .additional-details{
  margin-bottom: 2rem;
}

.additional-details>mat{
  width: 100%;
}
