<section class="customer_section_title">
  <p>Customers List</p>
</section>

<div class="mat-elevation-z8">
  <table [dataSource]="dataSource" mat-table matSort>

    <!-- Customer ID column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Customer ID</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>C{{element.id}}</td>
    </ng-container>

    <!-- Customer Name column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.name}}</td>
    </ng-container>

    <!-- Customer Nationality column -->
    <ng-container matColumnDef="nationality">
      <th *matHeaderCellDef mat-header-cell>Nationality</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.nationality}}</td>
    </ng-container>

    <!-- Customer Passport No column -->
    <ng-container matColumnDef="passportNo">
      <th *matHeaderCellDef mat-header-cell>Passport No</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.passportNo}}</td>
    </ng-container>

    <!-- Customer Email column -->
    <ng-container matColumnDef="email">
      <th *matHeaderCellDef mat-header-cell>Email</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.email}}</td>
    </ng-container>

    <!-- Customer Phone column -->
    <ng-container matColumnDef="phone">
      <th *matHeaderCellDef mat-header-cell>Phone</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.phone}}</td>
    </ng-container>

    <!-- Customer Country column -->
    <ng-container matColumnDef="country">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Country</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.country}}</td>
    </ng-container>

    <!-- Customer Added Date column -->
    <ng-container matColumnDef="add Date">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Added Date</th>
      <td class="make-cursor-pointer" *matCellDef="let element" mat-cell>{{element.addedDate.toLocaleString()}}</td>
    </ng-container>

    <!-- Options column -->
    <ng-container matColumnDef="options">
      <th *matHeaderCellDef mat-header-cell>Option</th>
      <td *matCellDef="let element" mat-cell>
        <div class="customer_table_options">
          <i [matMenuTriggerFor]="moreCustomerOptions" class="bi bi-three-dots-vertical icon-size"></i>
          <i class="bi bi-pencil-square icon-size icon-edit"></i>
          <i class="bi bi-trash icon-size icon-delete"></i>
        </div>

      </td>
    </ng-container>

    <!-- Menu for customer record -->
    <mat-menu #moreCustomerOptions="matMenu">
      <button class="customer_set_tour" mat-menu-item>
        <i class="bi bi-calendar2-range icon-size"></i>
        <span>View tour(s)</span>
      </button>

      <button class="customer_set_tour" mat-menu-item>
        <i class="bi bi-calendar2-plus icon-size"></i>
        <span>Set a new tour</span>
      </button>
    </mat-menu>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="viewCustomerRecord(row)" *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons></mat-paginator>
</div>
