table{
  width: 100%;
}

.customer_table_options i{
  margin: 0 0.75rem;
}

.customer_set_tour i{
  margin-right: 0.5rem;
}

.icon-size{
  font-size: 1.25rem;
  cursor: pointer;
}

.basic-icon-colour{
  color: #0c9463;
}

.icon-edit{
  color: #4267B2;
}

.icon-delete{
  color: crimson;
}


th{
  background-color: #0c9463;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.make-cursor-pointer{
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

