<div class="main-header-component">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-sm-6 col-md-8 col-lg-9 col-6 header_left">
        <img alt="Elephas vacations company logo" src="./assets/logo/black-elephant-logo.png">
        <span class="header_text">Elephas Vacation</span>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 col-6 header_right">
        <span>{{ employee.name }}</span>
        <img alt="employee-profile-photo" src="./assets/employee/profile-photo/user-profile-photo.svg">
        <button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu to user manage profile" mat-icon-button>
          <i class="bi bi-chevron-down"></i>
        </button>
        <mat-menu class="menu" #menu="matMenu">
          <button (click)="openDialogBox()" mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Manage Profile</span>
          </button>
          <button (click)="onLogout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="header_center">
      <app-navigation></app-navigation>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

