<div class="main-header-component">
  <div class="container-fluid">
    <div class="row header">
      <div class="col-3">
        <section class="header_left">
          <img alt="Elephas vacations company logo" src="./assets/logo/black-elephant-logo.png">
          <h4>Elephas Vacation</h4>
        </section>
      </div>
      <div class="col-6">
        <ul class="header_center">
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/customer">Customer</a></li>
          <li><a routerLink="/packages">Packages</a></li>
          <li><a routerLink="/accommodation">Accommodation</a></li>
          <li><a routerLink="/transport">Transport</a></li>
          <li><a routerLink="/guide">Guide</a></li>
          <li><a routerLink="/famousdestination">Famous Destination</a></li>
          <li *ngIf="true"><a routerLink="/admin">Admin</a></li>
          <!--    <li>Hotel</li>-->
          <!--    <li>Driver & Vehicle</li>-->
          <!--    <li>Vehicle</li>-->
          <!--    <li>Vehicle</li>-->
        </ul>
      </div>
      <div class="col-3">
        <section class="header_right">
          <span>Sithara Perera</span>
          <img alt="employee-profile-photo" src="./assets/employee/profile-photo/user-profile-photo.svg">
          <i class="bi bi-chevron-down"></i>
        </section>
      </div>
    </div>


  </div>
</div>
