<div class="accommodation-package-view-data-container container">
  <div class="header-container">
    <h5>Accommodation Package Details<span *ngIf="accommodationPackage.isLatestPackage" class="badge badge-styles">latest</span>
    </h5>
  </div>

  <div class="package-details-container">
    <div class="row">
      <div class="attributes col-4">
        Package ID
      </div>
      <div class="col-8">
        AP00{{ accommodationPackage.id }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Valid Period
      </div>
      <div class="col-8 ">
        {{ accommodationPackage.validPeriod }}
      </div>
    </div>

  </div>

</div>

<!-- meal plan -->
<div class="accommodation-package-view-data-container container">
  <div class="header-container">
    <h5>Meal Plan</h5>
  </div>

  <div class="package-details-container">
    <div class="row">
      <div class="attributes col-4">
        Room Only
      </div>
      <div class="dollar-symbol col-8">
        {{ accommodationPackage.mealPlan.roomOnly }} &#x00024;
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Bed and Breakfast
      </div>
      <div class="dollar-symbol col-8">
        {{ accommodationPackage.mealPlan.bedAndBreakfast }} &#x00024;
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Half Board
      </div>
      <div class="dollar-symbol col-8">
        {{ accommodationPackage.mealPlan.halfBoard }} &#x00024;
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Full Board
      </div>
      <div class="dollar-symbol col-8">
        {{ accommodationPackage.mealPlan.fullBoard }} &#x00024;
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        All Inclusive
      </div>
      <div class="dollar-symbol col-8">
        {{ accommodationPackage.mealPlan.allInclusive }} &#x00024;
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Remarks
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.mealPlan.remarks) ? accommodationPackage.mealPlan.remarks : 'None' }}
      </div>
    </div>


  </div>

</div>

<!-- room plan -->
<div class="accommodation-package-view-data-container container">
  <div class="header-container">
    <h5>Room Plan</h5>
  </div>

  <div class="package-details-container">
    <div class="row">
      <div class="attributes col-4">
        Single Room
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.singleRoom && accommodationPackage.roomPlan.singleRoom !== 0) ? accommodationPackage.roomPlan.singleRoom + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Double Room
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.doubleRoom && accommodationPackage.roomPlan.doubleRoom !== 0) ? accommodationPackage.roomPlan.doubleRoom + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Triple Room
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.tripleRoom && accommodationPackage.roomPlan.tripleRoom !== 0) ? accommodationPackage.roomPlan.tripleRoom + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Quad Room
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.quadRoom && accommodationPackage.roomPlan.quadRoom !==0) ? accommodationPackage.roomPlan.quadRoom + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Family
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.family && accommodationPackage.roomPlan.family !== 0) ? accommodationPackage.roomPlan.family + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Queen
      </div>
      <div class="dollar-symbol col-8">
        {{ ((accommodationPackage.roomPlan.queen && accommodationPackage.roomPlan.queen !== 0) ? accommodationPackage.roomPlan.queen + ' &#x00024;' : 'N/A') }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        King
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.king && accommodationPackage.roomPlan.king !== 0) ? accommodationPackage.roomPlan.king + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Twin
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.twin && accommodationPackage.roomPlan.twin !== 0) ? accommodationPackage.roomPlan.twin + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Suite
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.suite && accommodationPackage.roomPlan.suite !== 0) ? accommodationPackage.roomPlan.suite + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Remarks
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.roomPlan.remarks) ? accommodationPackage.roomPlan.remarks + ' &#x00024;' : 'None' }}
      </div>
    </div>


  </div>

</div>


<!-- child plan -->
<div class="accommodation-package-view-data-container container">
  <div class="header-container">
    <h5>Child Plan</h5>
  </div>

  <div class="package-details-container">
    <div class="row">
      <div class="attributes col-4">
        Availability
      </div>
      <div class="col-8">
        {{ (accommodationPackage.childPlan.isChildPlanAvailable) ? 'YES' : 'NO' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Cost (if available)
      </div>
      <div class="col-8">
        {{ (accommodationPackage.childPlan.isChildPlanAvailable) ? accommodationPackage.childPlan.cost + '&#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Remarks
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.childPlan.remarks) ? accommodationPackage.childPlan.remarks : 'None'  }}
      </div>
    </div>

  </div>

</div>

<!-- Guide plan -->
<div class="accommodation-package-view-data-container container">
  <div class="header-container">
    <h5>Guide Plan</h5>
  </div>

  <div class="package-details-container">
    <div class="row">
      <div class="attributes col-4">
        is Supplied
      </div>
      <div class="col-8">
        {{ (accommodationPackage.guidePlan.isGuideRoomSupplied) ? 'YES' : 'NO' }}
      </div>
    </div>

    <div *ngIf="false" class="row">
      <div class="attributes col-4">
        Cost (if not available)
      </div>
      <div class="col-8">
        {{ (!accommodationPackage.guidePlan.isGuideRoomSupplied) ? accommodationPackage.guidePlan.guideRoom + ' &#x00024;' : 'N/A' }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Remarks
      </div>
      <div class="dollar-symbol col-8">
        {{ (accommodationPackage.guidePlan.remarks) ? accommodationPackage.guidePlan.remarks : 'None'  }}
      </div>
    </div>

  </div>

</div>

<!-- additional details -->
<div class="accommodation-package-view-data-container container">
  <div class="header-container">
    <h5>Additional Details</h5>
  </div>

  <div class="package-details-container">
    <div class="row">
      <div class="attributes col-4">
        Date Created
      </div>
      <div class="col-8">
        {{ accommodationPackage.dateCreated }}
      </div>
    </div>

    <div class="row">
      <div class="attributes col-4">
        Created By
      </div>
      <div class="col-8">
        {{ accommodationPackage.createdBy }}
      </div>
    </div>

  </div>

</div>

