// =====================================================================
// Reusable styles - start
// =====================================================================

@mixin font-family-roboto-light {
  font-family: 'Roboto Light', sans-serif;
}

@mixin add-button-styles{
  color: white;
  background-color: #0c9463;
  font-size : clamp(1.6rem,1vw,2rem);
  padding: 1rem;
  border-radius: 10px;
}

// =====================================================================
// Reusable styles - end
// =====================================================================

// =====================================================================
// Responsive styles - start
// =====================================================================

@media screen and (min-width: 576px) {
  .search_header_right{
    justify-content: flex-end;
  }
}

@media screen and (max-width: 576px) {
  .search_header_left , .search_header_center, .search_header_right{
    //background-color: red;
    margin-bottom: 1rem;
  }

}

// =====================================================================
// Responsive styles - end
// =====================================================================

h5{
  font-size: clamp(1.6rem,1.2vw,2.4rem);
  font-weight: bold;
}

.accommodation-search-table {
  @include font-family-roboto-light;
  padding-bottom: 3rem;

  & .search_header_section {

    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    height: fit-content;

    & .search_header_left{
      display: flex;
      align-items: center;
    }
    //
    & .search_header_center{
      display: flex;
      align-items: center;
    }

    & .search_header_right{
      display: flex;
      //justify-content: flex-end;
      align-items: center;
    }

  }

}


mat-form-field{
  width: 100%;
  font-size : clamp(1.6rem,1vw,2rem);
}


.btn-add{
  @include add-button-styles;
}

.btn-search {
  margin: 0 0.5rem;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}
